<html>
    <head>
        
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="/">Accueil</a></li>
                    <li><a href="/inscription">login</a></li>
                </ul>
            </nav>
        </header>
    </body>
</html>


    {% block body %}{% endblock %}


<style>
    body{
        background-color: #f5f6fa;
    }

    header nav{
        background-color: #1f1f1f;
        height: 5em;
        width: 100%;
        margin-bottom: 5%;
    }

    header nav ul {
        height: 100% ;
        display: flex;
    }

    header nav ul li{
        height: 100%;
        width: 100%;
        display: inline-flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
    }

    header nav ul li a{
        
        font-size: 30px;
        color: #ffffff;
        text-decoration: none;
        padding: 0 20px;
        height: 100%;
        width:100%;
        display: flex;
        justify-content:center;
        align-items: center;
    }

    header nav ul li a:hover {
        color: #3087e1;
        transition: all 0.3s linear;
    }

    body, ul {
        margin: 0;
        padding: 0;
    }
</style>